<div class="container">

    <!--Jumbotron-->
    <div class="jumbotron text-center mdb-color lighten-2 white-text z-depth-2">

        <!--Title-->
        <h1 class="card-title h2-responsive mt-2 font-bold">
            <strong>Eat Da Burger!</strong>
        </h1>
        <img src="/assets/img/burger.png" alt="Bunch of burgers" class="img-responsive center-block" style="height: 250px;">
        <img src="/assets/img/burger.png" alt="Bunch of burgers" class="img-responsive center-block" style="height: 250px;">

        <hr class="my-4 rgba-white-light">

        <!--Subtitle-->
        <h2 class="mt-4">
            <strong>Burgers Never Taste So Good!</strong>
        </h2>

    </div>

    <div class="row">
        <div class="lg-col-6">
            <h1>Eat da Burger!</h1>

            <h2>Burger Menu</h2>
            <ul class="list-group list-group-flush">
                {{#each burgers}} {{#unless this.devoured}}
                <li class="list-group-item">
                    {{this.burger_name}}
                    <form action="/burgers/updateOne{{this.id}}?_method=PUT" method="POST"></form>
                    <input type="hidden" name="devoured" value="1">
                    <button type="button" class="btn btn-indigo btn-rounded">Devour</button>
                </li>
                {{/unless}} {{/each}}
            </ul>
        </div>


        <div class="lg-col-6">
            <h2>Devoured Burgers</h2>
            <ul>
                {{#each burgers}} {{#if this.devoured}}
                <li class="list-group-item">
                    {{this.burger_name}}
                    <form action="/burgers/updateOne{{this.id}}?_method=PUT" method="POST"></form>
                    <input type="hidden" name="devoured" value="0">
                    <button type="button" class="btn btn-indigo btn-rounded">Remove</button>
                </li>
                {{/if}} {{/each}}
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="lg-col-12">
            <!-- Add a burger form -->
            <h2>Add a Burger</h2>
            <form class="create-form" method="POST" action="burgers/insertOne">

                <div class="form-group">
                    <label for="burg">Burger Name:</label>
                    <input type="text" id="burg" name="name">
                </div>

                <button type="submit">Add Burger</button>
            </form>
        </div>
    </div>
</div>