
body {
    background-image: url("../img/halftone-yellow.png");
}


h1, h2 {
    font-family: 'Bungee Shade', cursive;
    font-size: 60px;
}

h2 {
    font-family: 'Bungee Shade', cursive;
    font-size: 36px;
}

h3 {
    font-family: 'Permanent Marker', cursive;
    font-size: 36px;
}

ul, p {
    font-family: 'Indie Flower', cursive;
    font-size: 24px;
}

p {
    font-style: italic;
}

.jumbotron {
    padding-top: 20px;
    padding-bottom: 10px;
    margin-top: 20px;
}

.list-group-item {
    background: #f3fbda;
}